name: Sync to Hugging Face hub
on:
  push:
    branches: [main]
  # Esse gatilho permite que você rode o workflow manualmente pela aba "Actions"
  workflow_dispatch: 

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true # Crucial para seus arquivos CSV de 464MB

      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          # Adiciona o remote do Hugging Face e força o push para sincronizar
          git push --force https://emanoelopes:$HF_TOKEN@huggingface.co/spaces/emanoelopes/clareia main
